# Branch specific
examined_cases

# Ignore python cache 
__pycache__/

# Ignore pip install dist/ 
dist/
build/
*.egg-info/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Ignore docs
_site/
_build/

# Executables
*.swf
*.air
*.ipa
*.apk

# Backups tmp
*.bck

# Logs
*.log

# Licenses
*.lic

*.faa
*.ffn
*.out
*.gto
*.gto_2
*.gbk


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

seed_complements/
gtdb_genomes/
*.keg

gtdb_metadata_r202.tsv
chem_xref.tsv

# Silva - Qiime files 
qiime2_consensus_taxonomy_7_levels.tsv
taxmap_embl_ssu_ref_132.txt

# Ignore NCBI Taxonomy db and mgnify catalogues metadata provided by the MGNify FTP
mappings/mgnify_mappings/metadata/
ref-dbs/taxdump/
ref-dbs/microbetag_genomes/
microbetagDB/ref-dbs/all_genome_modules/

tools/BugBase/
diamond/

# Ignore software
tools/phenotrex/

# Mapping files
mappings/gtdb_ncbi/gtdb_metadata/gtdb_species2ncbi_ids.tsv
mappings/gtdb_ncbi/qiime2/qiime2species_ncbi_ids.tsv
mappings/gtdb_ncbi/dada2/dada2genera.tsv
mappings/gtdb_ncbi/dada2/dada2species.tsv
mappings/gtdb_ncbi/gtdb_metadata/gtdb_species2ncbi_ids.tsv
mappings/gtdb_ncbi/qiime2/qiime2species_ncbi_ids.tsv

microbetagDB/ref-dbs/ko_per_mod_in_genome_per_ncbiId.json

*.swp

tests/output_dev*
dada2familiesNcbiIds
*.nans
*.ini
*.pckl
*.contigs.fa
bins/


# Ignore the output of the installation.sh script 
microbetag_env

# Ignore the GTDB db with 16S 
gtdb_16s.RData

# Ignore the kofam database
ext_data/kofam_database/profiles/
ext_data/kofam_database/ko_list

# Gurobi license
gurobi.lic

# Ignore the output folder of the stand alone tool
#microbetag_run/
hmmout/
MetaNetX/

microbetagDB/mappings/gtdb_ncbi/
.vscode/

# Ignore i/o file for test_data
test_data/test_modelseed/input_files
#test_data/test_microbetag/mtg_complete_output/KEGG_annotations/hmmout/
test_data/test_microbetag/mtg_complete_output
test_data/test_microbetag/input_files

# Nextflow
.nextflow/
work/
nf/data/
nf/results/
nf/phenotrex/classes/

