
title: "microbetag"
description: A place with the background and the *how to* of the *microbetag* tool - currently in production

remote_theme: pmarsceill/just-the-docs

# Permalinks are the output path for your pages, posts, or collections. 
# They allow you to structure the directories of your source code different from the directories in your output.
# For more check: https://jekyllrb.com/docs/permalinks/
permalink: pretty

# What it says! ;)
exclude: ["node_modules/", "*.gemspec", "*.gem", "Gemfile", "Gemfile.lock", "package.json", "package-lock.json",  
"script/", "LICENSE.txt", "lib/", "bin/", "README.md", "Rakefile", "docs/tests/"]


# Color scheme currently only supports "dark", "light"/nil (default), or a custom scheme that you define
color_scheme: nil

# Enable search and set the params for searching 
search_enabled: true
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

# Enable or disable heading anchors
heading_anchors: true

# Add just the docs of  microbetag on github 
aux_links:
  "Just the Docs on GitHub":
    - "github.com/hariszaf/microbetag/tree/gh-pages"

