scikit-bio==0.5.9
pytest-shutil
biom-format
cobra==0.29.0
numpy==1.24.4
pandas==2.0.3
networkx==3.1
julia==0.6.2
ndex2==3.10.0
PyYAML==6.0.1
pyshorteners==1.0.1
scipy==1.10.1

# depends on scikit-learn==1.2.0
ModelSEEDpy   # ==0.4.0   # on docker, it says 0.2.2 yet on PyPI there is no such version..
gurobipy==10.0.0
python-libsbml==5.20.2

# We will install 1.2.0 since phenotrex hase an independent conda env
scikit-learn==1.2.0


# GAPSEQ
# r-base=4.0.*
# r-data.table
# r-stringr
# r-getopt
# r-doParallel
# r-foreach
# r-R.utils
# r-stringi
# r-glpkAPI
# r-jsonlite
# r-httr
# r-devtools

# depends on scikit-learn==0.23.2
# https://github.com/univieCUBE/phenotrex/blob/master/requirements/prod.txt
# phenotrex[fasta]    # ==0.6.0     phenonotrex is installed through setup_environmnet.sh 

