docker.enabled    = false
apptainer.enabled = false
singularity {
    enabled = true
    autoMounts = true 
    cacheDir = System.getenv('NXF_SINGULARITY_CACHEDIR')
}
params {
    genomes = null
    faa_dir = null    
    // Set recon_files based on hierarchy
    recon_files = params.faa_dir ?: params.genomes
}
