scikit-bio==0.5.9
pytest-shutil
biom-format

numpy==1.24.4
scipy==1.10.1
pandas==2.2.2
tqdm==4.66.4

networkx==3.1
julia==0.6.2
ndex2==3.10.0

PyYAML>=5.4.1   
colorlog==6.9.0

# May lead to erros the setup.py making the CustomInstallCommand required
pyshorteners==1.0.1  

gurobipy==10.0.0
python-libsbml==5.20.2

# Metabolic modeling
cobra==0.29.0  # we now care only for carveme i think
carveme==1.6.1

